{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% include "navbar.html" %}
	<!-- Right Panel -->
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/bootstrap.css' %}" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <div id="right-panel" class="right-panel">

        {% include "header.html" %}

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-6">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Reportes</h1>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <strong class="card-title">Consulta de Registros</strong>
	                        </div>
                                {% if status == False %}
                                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                    <span class="badge badge-pill badge-danger">Error</span>
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                              	{% endif %}
	                        <form action="{% url "consulta_registros" %}" method="get">
		                        <div class="card-body col-lg-6">

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="hf-carga" class=" form-control-label">Numero de carga:</label>
	                                	</div>
	                                	<div class="col-12 col-md-9">
		                                	<input type="text" id="carga" name="numero_carga" placeholder="" class="form-control">
		                                </div>
	                                </div>

	                                
	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="bandeja" class=" form-control-label">Número de bandeja:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="bandeja" name="numero_bandeja" placeholder="" class="form-control">
	                                	</div>
	                                </div>

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="ruta" class=" form-control-label">Ruta:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="ruta" name="ruta" placeholder="" class="form-control" value="">
	                                    </div>
	                                </div>
                                </div>
                                <div class="card-body col-lg-6">
	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="local" class=" form-control-label">Local:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="local" name="local" placeholder="" class="form-control">
	                                    </div>
	                                </div>

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="fecini" class=" form-control-label">Fecha de carga inicial:</label>
                                        </div>
                                        <div class="col-12 col-md-9 input-group">
                                        	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
	                                    	<input type="text" id="fecini" name="fecini" placeholder="" class="form-control" autocomplete="">
	                                    </div>
	                                </div>

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="fecfin" class=" form-control-label">Fecha de carga final:</label>
                                        </div>
                                        <div class="col-12 col-md-9 input-group">
                                        	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
	                                    	<input type="text" id="fecfin" name="fecfin" placeholder="" class="form-control" autocomplete="">
	                                    </div>
	                                </div>	                                
		                        </div>
		                        <div class="card-body col-lg-12">
			                        <div class="form-actions form-group">
		                                <button type="submit" value="Upload" class="btn btn-primary btn-sm">Buscar</button>
		                            </div>
		                        </div>
	                        </form>
	                    </div>
	                </div>
	                {% if detalles %}
	                <div class="col-lg-12">
	                    <div class="card">
	                    	<div class="card-body">
	                            <table class="table table-striped" style="font-size:12px">
	                            	<thead>
	                                    <tr>
	                                    	<th>-</th>
			                                <th>Control 0</th>
			                                {% for control in data_pc %}
			                                	<th>Control {{ control.nombre }}</th>
			                                {% endfor %}		                            	
	                                    </tr>
	                                </thead>
		                            <tbody>
		                            	<tr>
		                            		<th>Total</th>
			                                <th>{{ countcargainicial }}</th>
			                                {% for control in data_pc %}
			                                	{% for key,value in resumen.items %}
			                                		{% if key.id == control.id %}
						                                <td>{{ value }}</td>
					                                {% else %}

					                                {% endif %}
				                                {% endfor %}
			                                {% endfor %}
			                            </tr>
			                            <tr>
			                            	<th>Dentro de Geocerca</th>
			                                <th>-</th>
			                                {% for control in data_pc %}
			                                	{% for key,value in resumen.items %}
			                                		{% if key.id == control.id %}
						                                <td>{{ value }}</td>
					                                {% else %}

					                                {% endif %}
				                                {% endfor %}
			                                {% endfor %}
			                                
	                                    </tr>
	                                    <!--tr>
			                            	<th>Fuera < 2km</th>
			                                <th>-</th>
		                            		{% for detalle in resumen %}
			                                	<td>{{ detalle.menor_2km }}</td>
			                                {% endfor %}
	                                    </tr>
	                                    <tr>
			                            	<th>Fuera > 2km</th>
			                                <th>-</th>
		                            		{% for detalle in resumen %}
			                                	<td>{{ detalle.mayor_2km }}</td>
			                                {% endfor %}
	                                    </tr-->
									</tbody>
								</table>
	                        </div>
	                        <div class="card-body">
	                            <table class="table table-striped" style="font-size:12px">
	                            	<thead>
	                                    <tr>
	                                    	<th></th>
	                                    	<th>Número de Carga</th>
			                                <th>Número de Bandeja</th>
			                                <th>#Controles</th>
			                                <th>Ruta</th>
			                                <th>Local</th>
			                                <th>Fecha de carga</th>
			                                {% for control in data_pc %}
			                                	<th>Control {{ control.nombre }}</th>
			                                {% endfor %}	
	                                    </tr>
	                                </thead>
		                            <tbody>
		                            {% for detalle in detalles %}
									    <tr id="{{ detalle.numero_lpn }}" class="block {{ detalle.numero_carga }}" style="display: {{ detalle.display }}">
									    	<td>
									    		{% if detalle.display != 'none' %}
									    			<a style="font-size:16px;font-weight:bold;padding:6px;" href="{{ detalle.numero_carga }}">+</a>
									    		{% endif %}
									    	</td>
									    	<td>{{ detalle.numero_carga }}</td>
			                                <td>{{ detalle.numero_lpn }}</td>
			                                <td>{{ detalle.numero_controles }}</td>
			                                <td>{{ detalle.ruta_codigo }}</td>
			                                <td>{{ detalle.local }}</td>
			                                <td>{{ detalle.fecha_carga }}</td>
			                                {% for control in data %}
	                                    		{% if detalle.numero_lpn == control.numero_lpn %}
		                                    		{% if control.control_1 == 'x' %}
			                                    	<td><a href="#" class="btn btn-info mb-1" data-toggle="modal" data-target="#control-{{ detalle.id }}">x-{{control.orden}}</a></td>
			                                    	{% endif %}
			                                    	{% if control.control_2 == 'x' %}
			                                    	<td><a href="#" class="btn btn-info mb-1" data-toggle="modal" data-target="#control-{{ detalle.id }}">x-{{control.orden}}</a></td>
			                                    	{% endif %}
		                                    	{% endif %}
			                                {% endfor %}
			                                
	                                    </tr>

	                                    <div class="modal fade" id="control-{{ detalle.id }}" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
							                <div class="modal-dialog modal-lg" role="document">
							                    <div class="modal-content">
							                        <div class="modal-header">
							                            <h5 class="modal-title" id="largeModalLabel">Detalle de Marca</h5>
							                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							                                <span aria-hidden="true">&times;</span>
							                            </button>
							                        </div>
							                        <div class="modal-body">
							                            <div class="row">
                    										<div class="col-lg-12">
                    											<div class="col-lg-6 float-left">
                    												control :
                    											</div>
                    											<div class="col-lg-6 float-left">
                    												{{ detalle.nombre }}
                    											</div>
                    											<div class="col-lg-6 float-left">
                    												Latitud y Longitud:
                    											</div>
                    											<div class="col-lg-6 float-left">
                    												{{ detalle.point }}
                    											</div>
                    											<div class="col-lg-6 float-left">
                    												Fecha y Hora de Marca:
                    											</div>
                    											<div class="col-lg-6 float-left">
                    												{{ detalle.fecha_registro }}
                    											</div>
                    										</div>
                    									</div>
							                        </div>
							                    </div>
							                </div>
							            </div>
	                                    
									{% endfor %}
									</tbody>
								</table>
								<div class="icon-container">
                                    <span class="ti-download"></span><span class="icon-name">
                                    	<a href="/export_consulta_registros/?numero_carga={{request.GET.numero_carga}}&numero_bandeja={{request.GET.numero_bandeja}}&ruta={{request.GET.ruta}}&fecini={{request.GET.fecini}}&fecfin={{request.GET.fecfin}}">Descargar Excel</a>
                                    </span>
                                </div>
								
								<!--<div class="pagination">
								    <span class="step-links">
								        {% if data.has_previous %}
								            <a href="?page=1">&laquo; first</a>
								            <a href="?page={{ data.previous_page_number }}">previous</a>
								        {% endif %}

								        <span class="current">
								            Page {{ data.number }} of {{ data.paginator.num_pages }}.
								        </span>

								        {% if data.has_next %}
								            <a href="?page={{ data.next_page_number }}">next</a>
								            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
								        {% endif %}
								    </span>
								</div>-->
	                        </div>
	                    </div>
	                </div>
	                {% endif %}
                </div>
        	</div><!-- .animated -->
    	</div><!-- .content -->
    	<div class="clearfix"></div>


{% endif %}
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<!--script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

        <script type="text/javascript">
            $(function () {
		        $('#fecini').datetimepicker({
		        	format: 'DD/MM/YYYY HH:mm:ss',
		        });
		        $('#fecfin').datetimepicker({
		        	format: 'DD/MM/YYYY HH:mm:ss',
		            useCurrent: false //Important! See issue #1075
		        });
		        $("#fecini").on("dp.change", function (e) {
		            $('#fecfin').data("DateTimePicker").minDate(e.date);
		        });
		        $("#fecfin").on("dp.change", function (e) {
		            $('#fecini').data("DateTimePicker").maxDate(e.date);
		        });

		        $("a").click(function(event) {
	                var href = $(this).attr('href');
	                

	                
	                if ($(this).closest('tr').hasClass('block')){
	                	$(this).html('-')
	                	$(this).closest('tr').first().addClass('table-row')
	                	$(this).closest('tr').addClass('none')
	                	$(this).closest('tr').removeClass('block')
	                	$('.'+href).closest('tr').css("display", "table-row");
	                }else{
	                	$(this).html('+')
	                	$('.'+href).closest('tr').css("display", "none");
	                	$('.'+href).closest('tr').first().css("display", "table-row");
	                	$(this).closest('tr').removeClass('none')
	                	$(this).closest('tr').addClass('block')
	                }
	                
	                event.preventDefault();
	            });
		    });
        </script>
{% endblock %}