
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% include "navbar.html" %}
	<!-- Right Panel -->

	    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/bootstrap.css' %}" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <div id="right-panel" class="right-panel">

        {% include "header.html" %}

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-6">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Reportes</h1>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <strong class="card-title">Consulta de Incidencias</strong>
	                        </div>
	                        <form action="{% url "consulta_incidencias" %}" method="post">
		                        <div class="card-body col-lg-6">

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="hf-ruta" class=" form-control-label">Ruta:</label>
	                                	</div>
	                                	<div class="col-12 col-md-9">
		                                	<input type="text" id="ruta" name="ruta" placeholder="" class="form-control">
		                                </div>
	                                </div>

	                                
	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="transportista" class=" form-control-label">Transportista:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="transportista" name="transportista" placeholder="" class="form-control">
	                                	</div>
	                                </div>

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="placa" class=" form-control-label">Placa:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
	                                    	<input type="text" id="placa" name="numero_placa" placeholder="" class="form-control" value="">
	                                    </div>
	                                </div>
                                </div>
                                <div class="card-body col-lg-6">
	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="fecini" class=" form-control-label">Fecha de incidente inicial:</label>
                                        </div>
                                        <div class="col-12 col-md-9 input-group">
                                        	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
	                                    	<input type="text" id="fecini" name="fecini" placeholder="" class="form-control" >
	                                    </div>
	                                </div>

	                                <div class="row form-group">
                                        <div class="col col-md-3">
                                        	<label for="fecfin" class=" form-control-label">Fecha de incidente final:</label>
                                        </div>
                                        <div class="col-12 col-md-9 input-group">
                                        	<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
	                                    	<input type="text" id="fecfin" name="fecfin" placeholder="" class="form-control" >
	                                    </div>
	                                </div>	                                
		                        </div>
		                        <div class="card-body col-lg-12">
			                        <div class="form-actions form-group">
		                                <button type="submit" value="Upload" class="btn btn-primary btn-sm">Buscar</button>
		                            </div>
		                        </div>
	                        </form>
	                    </div>
	                </div>
	                <div class="col-lg-12">
	                    <div class="card">
	                        <div class="card-body">
	                            <table class="table table-striped" style="font-size:12px">
	                            	<thead>
	                                    <tr>
	                                    	<th>Fecha de incidente</th>
			                                <th>Ruta</th>
			                                <th>Placa</th>
			                                <th>Transportista</th>
			                                <th>Descripción</th>
	                                    </tr>
	                                </thead>
		                            <tbody>
		                            {% for inicidente in data %}
									    <tr>
			                                <td>{{ inicidente.fecha_registro }}</td>
			                                <td>{{ inicidente.ruta }}</td>
			                                <td>{{ inicidente.numero_placa }}</td>
			                                <td>{{ inicidente.transportista }}</td>
			                                <td>{{ inicidente.descripcion }}</td>
	                                    </tr>
									{% endfor %}
									</tbody>
								</table>
								<div class="pagination">
								    <span class="step-links">
								        {% if data.has_previous %}
								            <a href="?page=1">&laquo; first</a>
								            <a href="?page={{ data.previous_page_number }}">previous</a>
								        {% endif %}

								        <span class="current">
								            Page {{ data.number }} of {{ data.paginator.num_pages }}.
								        </span>

								        {% if data.has_next %}
								            <a href="?page={{ data.next_page_number }}">next</a>
								            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
								        {% endif %}
								    </span>
								</div>
	                        </div>
	                    </div>
	                </div>
                </div>
        	</div><!-- .animated -->
    	</div><!-- .content -->
    	<div class="clearfix"></div>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<!--script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

        <script type="text/javascript">
            $(function () {
		        $('#fecini').datetimepicker({
		        	format: 'DD/MM/YYYY HH:mm:ss',
		        });
		        $('#fecfin').datetimepicker({
		        	format: 'DD/MM/YYYY HH:mm:ss',
		            useCurrent: false //Important! See issue #1075
		        });
		        $("#fecini").on("dp.change", function (e) {
		            $('#fecfin').data("DateTimePicker").minDate(e.date);
		        });
		        $("#fecfin").on("dp.change", function (e) {
		            $('#fecini').data("DateTimePicker").maxDate(e.date);
		        });
		    });
        </script>
{% endif %}
	

{% endblock %}