{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% include "navbar.html" %}
	<!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        {% include "header.html" %}

        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-6">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="page-header float-right">
                            <div class="page-title" style="line-height: 47px;">
                                <a href="{% url "crear_geocercas" %}" class="btn btn-primary">Crear Geocercas</a>                          
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
	                    <div class="card">
	                        <div class="card-header">
	                            <strong class="card-title">Lista de Geocercas</strong>
	                        </div>
	                        <div class="card-body">
	                        	{% if status == True  %}
                                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                    <span class="badge badge-pill badge-success">Bien</span>
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                {% elif status == False %}
                                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                    <span class="badge badge-pill badge-danger">Error</span>
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                {% else %}
                              	{% endif %}
	                            <form action="{% url "eliminar_geocercas" %}" method="post" enctype="multipart/form-data">
	                                <div class="form-actions form-group">
		                            	<button id="eliminar_carga" class="btn btn-danger btn-sm">Eliminar Geocerca(s)</button>
		                        	</div>
		                            <table class="table table-striped" style="font-size:12px">
		                            	<thead>
		                                    <tr>
		                                    	<th><input type="checkbox" id="selectall" onClick="selectAll(this)"/></th>
				                                <th>Código</th>
				                                <th>Numero de Controles</th>
				                                <th>Nombre</th>
				                                <th>Acciones</th>
		                                    </tr>
		                                </thead>
			                            <tbody>
			                            {% for ruta in data %}
										    <tr>
										    	<td><input type="checkbox" name="data[]" value="{{ ruta.id }}" /></td>
				                                <td>{{ ruta.codigo }}</td>
				                                <td>{{ ruta.numero_controles }}</td>				                                
				                                <td>{{ ruta.nombre }}</td>
				                                <td><a href="../edita_ruta/{{ ruta.codigo }}">Editar</a></td>
		                                    </tr>
										{% endfor %}
										</tbody>
									</table>
								</form>
								<div class="pagination">
								    <span class="step-links">
								        {% if data.has_previous %}
								            <a href="?page=1">&laquo; first</a>
								            <a href="?page={{ data.previous_page_number }}">previous</a>
								        {% endif %}

								        <span class="current">
								            Page {{ data.number }} of {{ data.paginator.num_pages }}.
								        </span>

								        {% if data.has_next %}
								            <a href="?page={{ data.next_page_number }}">next</a>
								            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
								        {% endif %}
								    </span>
								</div>
	                        </div>
	                    </div>
	                </div>
                </div>
        	</div><!-- .animated -->
    	</div><!-- .content -->
    	<div class="clearfix"></div>
{% endif %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript">
	function selectAll(source) {
		checkboxes = document.getElementsByName('data[]');
		for(var i in checkboxes)
			checkboxes[i].checked = source.checked;
	}

	/*$("#eliminar_carga").click(function() {
		var checkboxes = document.getElementsByName('data[]');
		//console.log(checkboxes);

		var data = []
		for (var i = 0; i < checkboxes.length; i++) {
			if (checkboxes[i].checked) {
				obj =  {"id": checkboxes[i].value};
				data.push(obj);
			}
		}
		console.log(data)
		$.ajax({
	        url: 'eliminar_carga/',
	        type: 'POST',
	        data: JSON.stringify(data),
	        datatype: 'json',
	        success: function (data) { 
	        	console.log(data);
	        	successFunction(data); 
	        },
	        error: function (jqXHR, textStatus, errorThrown) { errorFunction(); }
	    });
    });*/
</script>
{% endblock %}

