
{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <div class="row m-0">
                        <div class="col-sm-6" style="padding: 0px;">
                            <a href="#">
                                <img src="{% static 'images/logo.png' %}" alt="Logo">
                            </a>                      
                        </div>
                        <div class="col-sm-6" style="padding: 0px;margin-top: 27px;">
                            <a href="#">
                                <h3 style="color: #fff">e-PackageTracking</h3>
                            </a>                      
                        </div>
                    </div>

                    
                </div>
                <div class="login-form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Usuario</label>
                            <input type="text" class="form-control" autofocus="" required="" placeholder="usuario" name="username">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" required="" placeholder="contraseña" name="password">
                        </div>
                        <!--<div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>
                        </div>-->
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}